{% extends "pastillas/home.html" %}
{% load static %}
{% block container_form %}
    <h4 class="text-center text-uppercase">{{ title }}</h4>
    <form action="." class="pb-4 mx-4" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn mt-4 tex text-white fw-bold" style="background-color: darkcyan">Registrar Medicamento</button>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n'
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error',
            })
        {% endif %}
    </script>
{% endblock %}